@import 'tailwindcss';

@theme inline {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  * {
    @apply border-gray-800;
  }

  body {
    @apply bg-gray-950 text-gray-100 antialiased;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
